<div class="navbar">
    <a href="#">
        <strong>JIDAUCTIONS</strong>
    </a>

    <a class="navbar-link" href="/uploadart">Upload Art</a>
    <a class="navbar-link" href="/viewbids">View Bids</a>
</div>