@inject NavigationManager _navigationManager;

<div class="jumbotron">
    <h1 class="display-4 text-center">Welcome to Jumia</h1>
    <p class="lead text-center">We have everything you are looking for!!!</p>
    <p class="mt-4">
        <input @onkeydown="SearchProduct"
               @bind="_searchTerm"
               @bind:event="oninput"
               type="text"
               placeholder="Search for a product..."
               class="form-control form-control-lg" />
    </p>
</div>


@code {


    public string _searchTerm { get; set; }

    private void SearchProduct(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            //searching
            //navigatng programmatically
            _navigationManager.NavigateTo($"/search/{_searchTerm}");
        }
        return;
    }
}