@* landing page content *@
<div class="landingpage">
    <h1>
        "BIDDING <br />
         MOMENTS,<br/>
         WINNING<br />
        MEMORIES<br />
        -WHERE EVERY<br />
        BID<br />
        COUNTS"<br />
    </h1>

</div>