

@* my landingpage navbar *@

<nav class="navbar navbar-dark bg-black">
    <a class="navbar-brand" href="#">
        <strong>JIDAUCTIONS</strong>
    </a>
    <div class="navbar-buttons ml-auto">
        <button class="btn btn-dark">Login</button>
        <button class="btn btn-dark">Discover</button>
    </div>
</nav>


